<!DOCTYPE html>
<html>
    <head>
        <title>{{todo_list_detail.name}}</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{todo_list_detail.name}}</h1>
                <a href="{% url 'todo_list_update' todo_list_detail.id%}">Edit</a>
                <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
                <h2>Tasks</h2>
                <table>
                    <thread>
                        <tr>
                            <td>Task</td>
                            <td>Due Date</td>
                        </tr>
                        <tbody>
                            {% for list in todo_list_detail.items.all %}
                            <tr>
                                <td><a href="{%url 'todo_item_update' list.id %}"> {{list.task}}</a></td>
                                <td>{{list.due_date}}</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </thread>
                </table>
            </div>
        </main>
    </body>
</html>
